<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Deny all access to temp directory -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="temp" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <handlers>
            <!-- Block all file types -->
            <add name="DenyAllFiles" path="*" verb="*" type="" modules="StaticFileModule" scriptProcessor="" resourceType="Either" requireAccess="None" allowPathInfo="false" preCondition="" />
        </handlers>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" />
            <error statusCode="403" path="/cma/404.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
